.slideCinemas{
    display: flex;
    justify-content: space-between;
    max-width: 1980px;
    margin: auto;

}
.card{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.poster{
    max-width: 95%;
}
.slideItem{
    max-width: 100%;
}
.titulo{
    text-align: center;
    font-size: 3vw;
    color: white;
    padding: 20px;
    background-color: rgb(97, 97, 97);
}