body{
    
    background-color: #091521;
}
.corpoHome{
    max-width: 1980px;
    margin: auto;
}
.slideCinemas{
    display: flex;
    justify-content: space-between;
    margin: 60px auto 0 auto;
}
.slideCinemas2{
    display: flex;
    justify-content: space-between;
    max-width: 65%;
}
.card{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
    text-decoration: none;
}
.poster{
    max-width: 95%;
}
.slideItem{
    max-width: 100%;
}
.titulo{
    font-size: 30px;
    color: white;
    max-width: 1980px;
    margin: auto;
    background-color: red;
}

.navegar{
    max-width: 1980px;
    margin: auto;

}
.navegarCima{
    display: flex;
    justify-content: space-between;
}
.imageLogo{
    width: 100px;
}
.imageLogo img{
    width: 100%;
}
.navegar a{
    text-decoration: none;
}
.categoria{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}
.categoria a{
    padding: 20px;
    color: #ffff;
}
.pesquisa{
    width: 80%;
    margin: auto;
}
.pesquisa input{
    width: calc(100% - 80px);
    background-color: #133251;
    border-radius: 25px;
    border: none;
    padding: 10px;
    color: #ffff;
}
.enviar{
    width: 30px;
    background-color: rgba(255, 0, 0, 0);
    border: none;
}
.enviar img{
    width: 100%;
    cursor: pointer;
} 


